/* Fonts Google */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

html,
body {
  margin: 0;
  background-color: black;
}

.body {
  background: url("background.jpg") 0 0;
  background-size: 100vw;
  filter: blur(0.69vh);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
}   

.container {
  position: relative;
  z-index: 100;
}

.navbar {
  position: fixed;
  top: 0;
  height: 58px;
  width: 100%;
  background-color: black;
  opacity: 0.45;
  font-family: sans-serif;
}

.purilogo {
  color: white;
  padding: 0px 10px;
  font-family: "Signika Negative", sans-serif;
  position: relative;
  top: -5px;
  display: inline-block;
}

.purimenu{
    position: absolute;
    display: inline-block;
    color: white;
    right: 2%;
    word-spacing: 19px;
}

.box{
    width: 58%;
    height: 28%;
    background-color: white;
    opacity: 0.48;
    border-radius: 10px;
    margin-top: 20vh;
    position: relative;
    left: 15vw;
}

.main{
    position: relative;
    top: 49px;
}

.text{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    position: relative;
    top: 39%;
}
