/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


body {
  background-color: #404241;
  margin: 30px;
  overflow-x: hidden;
}

.Logo {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.line {
  top: 10px;
  background-color: white;
  width: 93%;
  height: 2px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 25px;
}

.line2 {
  top: 110px;
  background-color: white;
  width: 93%;
  height: 1px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 25px;
}

.buttons {}

.Atext {
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.Atext h1 {
  font-size: 50px;
  font-family: 'Inconsolata', monospace;
}

.Atext p {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}


.eheh,
.mirror {
  width: 20%;
  height: 32vh;
  background-color: rgb(255 255 255 / 25%);
  border-radius: 25px;
  display: inline-block;
}

.eheh .text,
.mirror .text {
  position: relative;
  top: 30%;
  left: 12%;
}

.mirror .text img {
  margin-left: auto;
  margin-right: 51%;
  display: block;
}

footer {
  bottom: 0;
  color: white;
  position: relative;
  transform: translateX(50%);
  font-size: 125%;
}

.subtitle {
  text-align: center;
  position: relative;
  right: 13%;
  font-family: 'Inconsolata', monospace;
  color: #ffffffe3;
  font-size: 1.8vh;
}

.contact {
  width: 50%;
}


.social {
  display: none;
  float: right;
}

[data-testid="dialog_iframe"] {
  filter: contrast(0.4) opacity(0.8);

}