body{
  background-color: #110F0F;
  user-select: none;
}
.tytul{
  color: #ffffff;
  text-align: center;
  align-items: center;
  font-size: 3vw;
  font-family: 'Prompt', sans-serif;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  user-select: none;
  font-weight: bold;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.neonButtons{
    font-family: 'Prompt', sans-serif;
    align-items: center;
  tex
}
