body 
{
  font-family: "Poppins", sans-serif;
  background-color: #333333;
  color: #ffffff;
}
.pasek{
  border: 1.5px solid #a9a9a9;
  top: 20px;
  position: fixed;
  border-radius:25px;
  background-color: #4646b9;
  float: left;
  width: 12vw;
  height: 97%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.top{
  background-color: #6F5D5D;
  text-align: center;
  height: 5vh;
}

.Categories{
  background-color: #4646b9;
  align-items: left;
  font-weight: bold;
}
.zdjecia{
  margin-left: 18%;
  margin-top: 9%;
  margin-bottom: 2%;
  min-width: 1580px;
}


.szukaj{
  border: 1.5px solid #a9a9a9;
  opacity: 0.8;
  width: 100%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  top: 0;
  height: 10%;
  background: #4646B9;
}

.szukajtwo{
  background-color: #4646b9;
  border-radius:25px;
  position: fixed;
  margin-top: 50px;
  height: 80px;
  
}

.content img{
  border-radius: 4px;
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
}

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
  

.logo
{
    width: 100%;
    height: 8%;
    border-radius: 10px;
    margin: 2%;
    margin-top: 4%
}


.srodek
{
  position: center;
  text-align: center;
}

.helpme{
  right: 11%;
  position: fixed;
}

.content{
  display: inline-block;
}

.upload{
  text-align: center;
  margin-top: 100px;
  align-items: center;
}